/*自适应*/
@media (max-width: 768px) {

}


body{
	 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
header{
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	background-color: rgb(45,43,65);	
	padding-left: 16%;
	box-shadow: inset 0 0 0 1px rgb(34,33,50),0 0 0 1px rgb(84,83,121);
	z-index: 1000;
}
header a{
	display: inline-block;
	color: #fff;
	font-size: 26px;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	font-family: Arial;
}
header a:last-child{
	background-color:rgb(34,33,50);
}
nav{
	width: 100%;
	height: 120px;	
	padding-left: 20%;
	margin-top: 50px;
	background: linear-gradient(to bottom, rgb(62,61,101), rgb(43,41,62));
}
nav h3,nav p{	
	color: #fff; 
	font-family: Arial;
}
nav h3{
	font-size: 40px;
	padding-top: 20px;
	line-height: 60px;
}
nav p{
	line-height: 30px;
	font-size: 20px;
}
main{
	margin-top: 50px;
}
.aside-fixed{
	position: fixed;
	width: 260px;
	top: 220px;
	background-color: rgb(247,245,250);
	border:1px solid rgb(247,245,250);
	border-radius: 10px;
	padding: 10px 0;
}
aside ul li{
	line-height: 30px;
	text-indent: 2em;
}
aside ul li a{
	font-size: 18px;
}
aside ul li:hover{
	background-color: #ccc;
	cursor:pointer;
}

/*右侧主体部分*/
.main-right{
	padding-left: 60px;
}
.circle-box{
	border:1px solid #000;
	border-radius: 10px;
	width: 100%;
	background-color: rgba(247,245,250,.5);	
	margin-bottom: 40px;
}
.circle-header{
	border-bottom: 1px solid #ccc;
	width: 90%;
	line-height: 50px;
	margin: 0 auto;
}
.circle-content{
	width: 90%;
	margin: 0 auto;
}

/*效果1*/
.main-effect{
	margin: 20px 60px;
	float: left;	
	width: 220px;
	height: 220px;
	position: relative;
}
.circle1-effect1 .spinner{
	width: 220px;
	height: 220px;
	border:10px solid;
	border-color: rgb(26,210,128) rgb(26,210,128) rgb(236,171,24) rgb(236,171,24);
	border-radius: 50%;
	-webkit-transition: .35s .1s;
    -moz-transition: .35s .1s;
    transition: .35s .1s;
}
.img img,.circle1-effect1 .layout{
	position: absolute;
	top: 10px;
	left:10px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
.circle1-effect1 .layout{
	text-align: center;
	color: #fff;	
	background-color: rgba(0,0,0,.5);
	opacity:0;
	-webkit-transition: .35s;
    -moz-transition: .35s;
    transition: .35s;
}
.text-h4{
	font-size: 28px;
	line-height: 60px;
	width: 180px;
	margin: 40px auto 0;
	border-bottom: 2px solid #ccc;
}
.text-p{
	font-size: 16px;
	line-height: 24px;
}
.circle1-effect1:hover{
	cursor:pointer;	
}
.circle1-effect1:hover .layout{
	opacity: .75;
}
.circle1-effect1:hover .spinner{
	transform: rotate(180deg);
}

/*效果2*/
.effect2{
	border-radius: 50%;
}
.img2 img{
	position: absolute;
	top: 0;
	left:0;
	width: 220px;
	height: 220px;
	border-radius: 50%;
}
.img2:after{
	position: absolute;
	left: 0;
	top: 0;
	content: "";
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: inset 0 0 0 20px rgba(0,0,0,.2); 
}
.layout2{
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	color: #fff;
	width: 220px;
	height: 220px;
	border-radius: 50%;
	background-color: rgba(0,0,0,.2);
	transform: translateX(-100%);
	opacity: 0;
	-webkit-transition: .35s;
    -moz-transition: .35s;
    transition: .35s;
    z-index: 2;
    /*阻止鼠标事件从而防止错误的触发layout*/
    pointer-events: none;
}
.effect2:hover{
	cursor: pointer;
}
.effect2:hover .layout2{
	opacity:.8;
	transform: translateX(0);
}

/*效果公共样式*/
.pub-effect{
	border-radius: 50%;
}
.pub-img{
	width: 220px;
	height: 220px;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 50%;
	-webkit-transition: .35s;
    -moz-transition: .35s;
    transition: .35s;
}
.pub-img img{
	position: absolute;
	top: 0;
	left:0;
	width: 220px;
	height: 220px;
	border-radius: 50%;
}
.pub-img:after{
	position: absolute;
	left: 0;
	top: 0;
	content: "";
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: inset 0 0 0 20px rgba(0,0,0,.2); 
}
.pub-layout{
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	color: #fff;
	width: 220px;
	height: 220px;
	border-radius: 50%;
	background-color: rgba(0,0,0,.2);
	transform: translateX(-100%);
	opacity: 0;
	-webkit-transition: .35s;
    -moz-transition: .35s;
    transition: .35s;
    /*阻止鼠标事件从而防止错误的触发layout*/
    pointer-events: none;
}
.cursor:hover{
	cursor: pointer;
}

/*单独样式*/
.effect3:hover .img3{
	transform: translateX(50%) scale(.5);
}
.effect3:hover .layout3{
	opacity:.8;
	transform: translateX(0);
}

.effect4:hover .img4{
	transform: translateX(100%);
	opacity: 0;
}
.effect4:hover .layout4{
	opacity:.8;
	transform: translateX(0);
}

.layout5{
	transform: translateX(0);
	transform:scale(.2);
}
.effect5:hover .img5{
	transform: scale(1.5);
	opacity: 0;
}
.effect5:hover .layout5{
	opacity:1;
	transform:scale(1);
}


.img6{
	-webkit-transition:transform .35s, left .35s .35s, opacity .35s .35s; 
    -moz-transition: transform .35s, left .35s .35s, opacity .35s .35s;
    transition: transform .35s , left .35s .35s, opacity .35s .35s;
}
.layout6{
	transform:scale(.5);
	opacity: 0;
	left:100%;
	-webkit-transition:opacity .35s .35s , left .35s .35s, transform .35s .7s;
    -moz-transition: opacity .35s .35s , left .35s .35s, transform .35s .7s;
    transition: opacity .35s .35s , left .35s .35s, transform .35s .7s;
}
.effect6:hover .img6{
	transform: scale(.5);
	left:-100%;
	opacity: 0;
}
.effect6:hover .layout6{
	transform: scale(1);
	left:0;
	opacity: 1;
}


.img7{	
    transform-origin:50% 100%;
    -webkit-transition:transform .35s;
    -moz-transition:transform .35s;
    transition:transform .35s;
}
.layout7{
	opacity: 0;
	transform:scale(.1);	
    transform-origin:50% 100%;
    -webkit-transition:transform .35s , opacity .35s;
    -moz-transition: transform .35s , opacity .35s;
    transition:transform .35s , opacity .35s;
}
.effect7:hover .img7{
	transform: scale(.5);
}
.effect7:hover .layout7{
	transform: scale(1);
	opacity: 1;
}



.img8{	
	transform-origin: 100% 0;
    -webkit-transition:transform .35s;
    -moz-transition:transform .35s;
    transition:transform .35s;
}
.layout8{
	opacity: 1;
	left: 0;
	transform: rotateY(90deg);
	transform-origin: 0 0;
    -webkit-transition:transform .35s .35s;
    -moz-transition: transform .35s .35s;
    transition:transform .35s .35s;
}
.effect8:hover .img8{
	transform: rotateY(90deg);
}
.effect8:hover .layout8{
	transform: rotateY(0deg);
}


.img9{	
	transform-origin: 0 0;
    -webkit-transition:transform .35s;
    -moz-transition:transform .35s;
    transition:transform .35s;
    z-index: 2;
}
.layout9{
	opacity: 1;
	left:100%;
	z-index: 1;	
	background-color: rgba(0,0,0,.8);
    -webkit-transition:transform .35s .35s;
    -moz-transition: transform .35s .35s;
    transition:transform .35s .35s;
}
.effect9:hover .img9{
	transform: rotateX(180deg);
}



/*方形*/
.pub-square-effect{
	padding: 10px;
	width: 262px;
	height: 202px;
	margin: 20px 40px;	
	border:1px solid #ccc;
}
.pub-square-img{
	width: 240px;
	height: 180px;
	position: absolute;
	left: 10px;
	top: 10px;
	-webkit-transition: .35s;
    -moz-transition: .35s;
    transition: .35s;
}
.pub-square-img img{
	position: absolute;
	top: 0px;
	left:0px;
	width: 240px;
	height: 180px;
	z-index: 2;
}
.pub-square-img:after{
	position: absolute;
	left: 0px;
	top: 0px;
	content: "";
	width: 100%;
	height: 100%;
}
.pub-square-layout{
	position: absolute;
	left: 10px;
	top: 10px;
	text-align: center;
	color: #fff;
	width: 240px;
	height: 180px;
	background-color: rgba(0,0,0,.5);
	z-index: 1;
	-webkit-transition: .35s;
    -moz-transition: .35s;
    transition: .35s;
    /*阻止鼠标事件从而防止错误的触发layout*/
    pointer-events: none;
}

/*方形单独样式*/
/*方形1*/
.text-h4-square1{
	font-size: 24px;
	line-height: 30px;
	width: 160px;
	border-bottom: 1px solid #ccc;
}
.text-p-square1{
	font-size: 18px;
	line-height: 20px;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 160px;
}
.square-img1{	
    -webkit-transition:transform .35s;
    -moz-transition:transform .35s;
    transition:transform .35s;
    z-index: 2;
}
.square-layout1{
	transform: scale(.1);
	opacity: 0;
    -webkit-transition:transform .35s .15s;
    -moz-transition: transform .35s .15s;
    transition:transform .35s .15s;
    z-index: 1;
}
.square-effect1:hover .square-img1{
	transform: scale(.5);
}
.square-effect1:hover .square-layout1{
	transform: scale(1);
	opacity: 1;
}

/*方形2*/
.square-img2{	
    -webkit-transition:transform .35s;
    -moz-transition:transform .35s;
    transition:transform .35s;
    z-index: 2;
    top: 0;
    left: 0;
}
.square-effect2{
	overflow: hidden;
	padding: 0;
	width: 242px;
	height: 182px;
}
.square-layout2{
	position: absolute;	
	left: 0;
	top: 50px;
	width: 100%;
	height: 80px;
	transform:rotate(-36deg) rotateX(90deg);
	background-color: rgba(0,0,0,.6);
	z-index: 10000;
	-webkit-transition:transform .35s .35s ease-in;
    -moz-transition:transform .35s .35s ease-in;
    transition:transform .35s .35s ease-in;
}
.text-h4-square2{
	color: #fff;
	font-size: 24px;
	line-height: 60px;
	text-align:center;
	width: 160px;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
}
.text-p-square2{
	color: #fff;
	text-align:center;
	font-size: 16px;
	line-height: 20px;
}
.square-effect2:after,.square-effect2:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,.5);
	-webkit-transition: .35s ease-in;
    -moz-transition: .35s ease-in;
    transition: .35s ease-in;
    z-index: 100;
}
.square-effect2:before{
	transform:skew(-53deg) translateX(170%);
}
.square-effect2:after{
	transform:skew(-53deg) translateX(-170%);
}
.square-effect2:hover .square-img2{
	transform: scale(.5);
}
.square-effect2:hover:after{
	transform:skew(-53deg) translateX(-50%);
}
.square-effect2:hover:before{
	transform:skew(-53deg) translateX(50%);
}
.square-effect2:hover .square-layout2{
	transform:rotate(0deg) rotateX(0deg);
}

/*方形3*/
.square-img3{	
    -webkit-transition:transform .35s;
    -moz-transition:transform .35s;
    transition:transform .35s;
    z-index: 2;
    top: 0;
    left: 0;
}
.square-effect3{
	overflow: hidden;
	width: 242px;
	height: 182px;
}
.square-layout3{
	position: absolute;	
	left: 0;
	top: 0;
	opacity: 0;
	width: 100%;
	height:100%;
	background-color: rgba(0,0,0,.6);
	z-index: 5;
	-webkit-transition:transform .35s ease-in;
    -moz-transition:transform .35s ease-in;
    transition:transform .35s ease-in;
}
.square-effect3::after,.square-effect3::before{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	text-align: center;
	color: #fff;
	-webkit-transition: .35s ease-in;
    -moz-transition: .35s ease-in;
    transition: .35s ease-in;
    z-index: 10;
}
.square-effect3::before{
	transform:translateY(-40%);
	opacity: 0;
	content: 'Header Here';
	height: 40%;
	font-size: 24px;
	line-height:80px;
}
.square-effect3::after{
	transform:translateY(80%);
	opacity: 0;
	content: 'Description Here';
	height: 60%;
	font-size: 18px;
	line-height:100px;
}
.square-effect3:hover:after{
	transform: translateY(45%);
	opacity: 1;
}
.square-effect3:hover:before{
	transform: translateY(0);
	opacity: 1;
}
.square-effect3:hover .square-layout3{
	opacity: 1;
}
.square-effect3:hover .square-img3{
	transform: scale(1.2);
}

/*方形4*/
.square-img4{	
    -webkit-transition:transform .35s,opacity .35s;
    -moz-transition:transform .35s,opacity .35s;
    transition:transform .35s,opacity .35s;
    z-index: 2;
    top: 0;
    left: 0;
}
.square-effect4{
	overflow: hidden;
	width: 242px;
	height: 182px;
}
.square-layout4{
	position: absolute;	
	left: 0;
	top: 0;
	opacity: 0;
	transform: scale(0);
	width: 100%;
	height:100%;
	background-color: rgba(0,0,0,.8);
	z-index: 5;
	-webkit-transition:transform .35s ease-in;
    -moz-transition:transform .35s ease-in;
    transition:transform .35s ease-in;
}
.square-effect4::after,.square-effect4::before{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0;
	text-align: center;
	color: #fff;
	transform:scale(0);
	-webkit-transition: .35s ease-in;
    -moz-transition: .35s ease-in;
    transition: .35s ease-in;
    z-index: 10;
}
.square-effect4::before{	
	content: 'Header Here';
	font-size: 24px;
	line-height:80px;
}
.square-effect4::after{	
	content: 'Description Here';
	font-size: 18px;
	margin-top: 60px;
	line-height:100px;
}
.square-effect4:hover:after,.square-effect4:hover:before{
	opacity: 1;
	transform: scale(1);
}
.square-effect4:hover .square-layout4{
	opacity: 1;
	transform: scale(1);
}
.square-effect4:hover .square-img4{
	transform: scale(2);
	opacity: 0;
}


/*文字部分*/
.words-effect{
	height: 40px;
	line-height: 40px;
	width: auto;
}
.words-front{	
	font-size: 36px;
}

/*文字1*/
.words-1:after{
	content: 'Hello Summer,good morning.';
	position: absolute;
	top: 0;
	left: 0;
	width:0;
	height:100%;
	white-space: nowrap;
	color: #ccc;
	overflow: hidden;
	transition: 2s;
}
.words-1:hover:after{
	width:100%;
}

/*文字2*/
.words-2:after,.words-2:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	border-bottom: 2px solid #999; 
	opacity: 0;
	transform: translateY(100%);
	overflow: hidden;
	transition: 1s;
}
.words-2:before{
	border-bottom: 2px solid #ccc;
}
.words-2:hover:before{
	opacity: 1;
	width:100%;
	transform: translateY(10%);
}
.words-2:hover:after{
	opacity: 1;
	transform: translateY(20%);
}

/*文字3*/
.words-3:after,.words-3:before{
	content: '';
	position: absolute;
	top: 0;
	width:100%;
	height:100%;
	transition: 1s;	
}
.words-3:before{
	left:-5%;
	transform-origin: 0 0;
	border-left: 3px solid #999;
}
.words-3:after{
	right:-5%;
	transform-origin: 100% 0;
	border-right: 3px solid #999;
}
.words-3:hover:before{
	transform: rotate(-90deg);
	height: 300%;
	border-color: rgba(0,0,0,.8);
}
.words-3:hover:after{
	transform: rotate(90deg);
	height: 300%;
	border-color: rgba(0,0,0,.8);
}

/*文字4*/
.words-4:after,.words-4:before{
	position: absolute;	
	height:100%;
	opacity: 0;
	transition: 1s;
}
.words-4:before{
	left: -10px;
	content: '[';
}
.words-4:after{
	content: ']';
}
.words-4:hover:before{
	transform: translateX(-15px);
	opacity: 1;
}
.words-4:hover:after{
	transform: translateX(15px);
	opacity: 1;
}




.statements{
	list-style: disc;
	margin-left: 20px;
}
.statements,.statements a,.description{
	font-size: 18px;
	color: #000;
}
.statements a:hover{
	color: rgba(0,0,0,.8);
}
/*底部*/
footer{
	margin-top: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: #fff;	
	background-color: rgb(44,44,68);
}
footer section{
	font-size: 16px;
}